* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #cec8c8;
}
ul {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-bottom: 30px;
}
.app {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px  auto;
  background-color: rgb(66, 69, 71);
  font: 200;
  font-size: 1.5rem;
  border-radius: 10px;
  /* box-shadow: 0px 0px .2px .1px rgba(0, 0, 0, .1); */
  box-shadow: 0 30px 80px rgba(0,0,0,0.60), 0 5px 100px rgba(0,0,0,0.14);
  text-align: center;
}
 li {
  list-style-type: none;
  color: white;
 }

 .search-user {
  margin-bottom: 30px;
  margin-top: 30px;
 }
  input {
    height: 2rem;
    text-indent: 5px;
    font-size: 18px;
    border-radius: 10px;
    border-color: black;
  }
   
   p {
    color: white;
    margin-bottom: 30px;
   }